mixin filter-button({filterButtons, name})
	each btn in filterButtons
		button.btn.btn-sm.btn-outline-success.me-1(
			class='filterBtn'
			value=btn.filter
			class={active: btn.isActive}
			style={'text-transform': 'lowercase'}
		) #{btn.label}
