//- https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb

include sidebar-item


mixin sidebar({links})
	.container-fluid
		.row.flex-nowrap
			.col-auto.col-md-3.col-xl-2.px-sm-2.px-0.bg-dark.min-vh-100
				.d-flex.flex-column.align-items-center.align-items-sm-start.px-3.pt-2.text-white.vh-100.position-fixed
					a.d-flex.align-items-center.pb-3.mb-md-0.me-md-auto.text-white.text-decoration-none(href=ADMIN_PATH + '/dashboard')
						span.fs-4.d-none.d-sm-inline.fw-bold Dashboard
					ul#menu.nav.nav-pills.flex-column.mb-sm-auto.mb-0.align-items-center.align-items-sm-start
						each link in links
							+nav-item(link)

					hr
					.dropdown.pb-4
						a#dropdownUser1.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle(href='#' data-bs-toggle='dropdown' aria-expanded='false')
							img.rounded-circle(src='https://github.com/mdo.png' alt='hugenerd' width='30' height='30')
							span.d-none.d-sm-inline.mx-1 loser
						ul.dropdown-menu.dropdown-menu-dark.text-small.shadow(aria-labelledby='dropdownUser1')
							li
								a.dropdown-item(href='#').text-white New project...
							li
								a.dropdown-item(href='#').text-white Settings
							li
								a.dropdown-item(href='#').text-white Profile
							li
								hr.dropdown-divider
							li
								a.dropdown-item(href='#').text-white Sign out
			.col.py-3
				block